<!DOCTYPE html>
<html>
  <head>
    <title>Tentang Author</title>
    <link rel="icon" href="/img/cuaca.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/rijal.png" alt="author">
    </div>
    {{>footer}}
  </body>
</html>