<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tentang Saya</title>
  <link rel="icon" href="/img/cuaca.png" />
  <link rel="stylesheet" href="/css/tentang.css" />
  <script src="/js/all.js"></script>
</head>
<body>
  {{>header}}
  <div class="container">

    <div class="card-one">
      <div class="profile"></div>
      <div class="contact-box">
        <h2>Contact</h2>
        <div>
          <i class="fas fa-phone-alt"></i>
          <div class="text">(+62) 82288363762</div>
        </div>
        <div>
          <i class="fas fa-home"></i>
          <div class="text">jl. Bakti IV, Kel. Parupuk Tabing, Kec. Koto Tangah, Kota Padang, Prov. Sumatera Barat, Indonesia</div>
        </div>
        <div>
          <i class="fas fa-globe"></i>
          <div class="text">http://rijallmmuk.co.id</div>
        </div>
        <div>
          <i class="fas fa-envelope"></i>
          <div class="text">http://rijallmmuk.co.id</div>
        </div>
      </div>
      <div class="personal-box">
        <h2>Personal Skill</h2>
        <div>
          <p>Programming</p>
          <div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div>
          <p>Networking</p>
          <div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div>
          <p>Data Analyst</p>
          <div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div>
          <p>Problem Solving</p>
          <div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot activate"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="hobbies-box">
        <h2>Hobbies</h2>
        <div class="logo">
          <div>
            <i class="fas fa-gamepad"></i>
          </div>
          <div>
            <i class="fas fa-tv"></i>
          </div>
          <div>
            <i class="fas fa-camera"></i>
          </div>
          <div>
            <i class="fas fa-lightbulb"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-two">
      <div class="head-title">
        <h1>Mukhtarijal</h1>
      </div>
      <div>
        <h2>Programmer</h2>
      </div>
      <div class="group-1">
        <div class="box">
          <h2>About Me</h2>
        </div>
        <div class="desc">
          Seorang mahasiswa jurusan Informatika yang memiliki passion di bidang programming dan software engineer. Saya memiliki kemampuan dalam bahasa pemrograman seperti Python, Java, dan C++. Saya juga aktif dalam mengikuti kegiatan organisasi di kampus terkait dengan bidang teknologi.
        </div>
      </div>
      <div class="group-2">
        <div class="box">
          <h2>Education</h2>
        </div>
        <div class="desc">
          <ul>
            <li>
              <div>2009-2015 | SD Negeri 15 Bukit Bais</div>
              <div>Bukit Bais, Kec. IX Koto Sungai Lasi, Kab. Solok</div>
            </li>
          </ul>
          <ul>
            <li>
              <div>2015-2018 | MTs Negeri 1 Solok</div>
              <div>Sungai Lasi, Kab. Solok, Prov. Sumatera Barat</div>
            </li>
          </ul>
          <ul>
            <li>
              <div>2018-2021 | SMK Negeri 2 Solok</div>
              <div>Teknik Elektronika, Audio Video</div>
            </li>
          </ul>
          <ul>
            <li>
              <div>2021-Now | Universitas Negeri Padang</div>
              <div>Informatika</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="group-3">
        <div class="box">
          <h2>Experience</h2>
        </div>
        <div class="desc">
          <ul>
            <li>
              <div>2017 | Anggota Osis</div>
              <div>MTs Negeri 1 Solok</div>
              <div>Menjadi Anggota Osim bidang Kesenian</div>
            </li>
          </ul>
          <ul>
            <li>
              <div>2022 | Kabid Programming</div>
              <div>Universitas Negeri Padang</div>
              <div>Menjadi Kepala Bidang Programming di Unit Kegiatan Infitech UNP</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>